---
import "@styles/index.scss";

import Filters from "@playground/blocks/Filters.astro";

import Buttons from "@playground/blocks/Buttons.astro"
import Typography from "@playground/blocks/Typography.astro"
import Icons from "@playground/blocks/Icons.astro"
import Media from "@playground/blocks/Media.astro"
import Colors from "@playground/blocks/Colors.astro"
import Numbers from "@playground/blocks/Numbers.astro"
import Cards from "@playground/blocks/Cards.astro"
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>Astro</title>
    </head>
    <body>
        <main>
            <Colors />
            <Buttons />
            <Icons />
            <Typography />
            <Numbers />
            <Media />
            <Cards />
        </main>

        <aside>
            <Filters />
        </aside>
    </body>
</html>

<style scoped lang="scss">
    body {
        display: grid;
        grid-template-columns: 1fr 25rem;

        main {
            height: 100vh;
            overflow: scroll;
        }
    }

    aside {
        border-left: 1px solid var(--clr-grey-200);
    }
</style>