---
import { socials } from "@config/global/socials"
import { footer } from "@config/global/footer"
import { Icon, Navigation, SocialLink } from "@components/index"

interface Props {
	class?: string
}

const { class: className } = Astro.props
---

<footer class:list={["footer", className]}>
	<div class="footer__left">
		<Icon name={footer.logo} class="c-icon--asset" />

		<Navigation />
	</div>

	<ul class="footer__right">
		{
			socials.links.map((link) => (
				<li class="c-navigation__social-link">
					<SocialLink
						href={link.href}
						icon={link.icon}
						iconSize={24}
					/>
				</li>
			))
		}
	</ul>
</footer>

<style is:global lang="scss">
	.footer {
		--footer-bg: var(--scheme-base);

		background-color: var(--footer-bg);

		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: var(--space-8);
		padding-block: var(--space-32);

		&__left {
			display: flex;
			gap: var(--space-64);
		}

		&__right {
			display: flex;
			gap: var(--space-12);
		}
	}
</style>
