---
import { header } from "@config/global/header"
import { Navigation, Icon, Button } from "@components/index"

interface Props {
	class?: string
}

const { class: className } = Astro.props
---

<header class:list={["header", className]}>
	<Icon name={header.logo} class="c-icon--asset" />

	<div class="header__right">
		<Navigation />

		<Button class="c-button--secondary c-button--uppercase">Login</Button>
	</div>
</header>

<style is:global lang="scss">
	.header {
		display: flex;
		align-items: center;
		justify-content: space-between;

		padding-block: var(--space-48);

		&__right {
			display: flex;
			align-items: center;
			gap: var(--space-48);
		}

		.c-icon {
			height: 100%;
			width: auto;
		}
	}
</style>
