// =============================================================================
// Global styles reset
// =============================================================================
*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	min-height: 100vh;
}

ol,
ul {
	list-style: none;
}

.c-split .c-picture {
	height: 100%;
	width: 100%;
}
