// =============================================================================
// Font
// =============================================================================
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300..900&display=swap");

:root {
	// =========================================================================
	// Color propreties
	// =========================================================================
	--clr-white: hsl(0, 0%, 100%);

	--clr-soft-blue: hsl(231, 69%, 60%);
	--clr-very-dark-blue: hsl(229, 31%, 21%);
	--clr-soft-red: hsl(0, 94%, 66%);

	--clr-grayish-blue: hsl(229, 8%, 60%);
	--clr-light-gray: hsl(0, 0%, 87%);
	--clr-off-white: hsl(0, 0%, 97%);

	--shadow-default: 0px 16px 28px 0px hsla(231, 69%, 60%, 0.15);

	// =========================================================================
	// Spacing propreties
	// =========================================================================
	$spacing-values: (
		1,
		4,
		8,
		12,
		16,
		20,
		24,
		32,
		48,
		64,
		80,
		96,
		112,
		128,
		144,
		160
	);

	@each $value in $spacing-values {
		--space-#{$value}: #{calc($value / 16)}rem;
	}

	// =========================================================================
	// Extra propreties
	// =========================================================================
	$border-radius-values: (5, 10, 15, 200);

	@each $value in $border-radius-values {
		--border-radius-#{$value}: #{$value}px;
	}

	--border-radius-round: 100%;

	// =========================================================================
	// Container propreties
	// =========================================================================
	--container-default-width: 1200px;
	--container-default-gap: var(--space-24);
	--container-default-bound-l: 1.5rem;
	--container-default-bound-r: 1.5rem;

	--container-full-width: 100vw;
	--container-full-gap: var(--space-24);
	--container-full-bound-l: 0;
	--container-full-bound-r: 0;
}
