// =============================================================================
// Fonts
// =============================================================================
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");

:root {
	// =========================================================================
	// Color propreties
	// =========================================================================
	--clr-black: hsl(0, 0%, 0%);
	--clr-white: hsl(0, 0%, 100%);

	--clr-grey-900: hsl(0, 0%, 10%);
	--clr-grey-800: hsl(0, 0%, 20%);
	--clr-grey-700: hsl(0, 0%, 30%);
	--clr-grey-600: hsl(0, 0%, 40%);
	--clr-grey-500: hsl(0, 0%, 50%);
	--clr-grey-400: hsl(0, 0%, 60%);
	--clr-grey-300: hsl(0, 0%, 70%);
	--clr-grey-200: hsl(0, 0%, 80%);
	--clr-grey-100: hsl(0, 0%, 90%);

	// =========================================================================
	// Spacing propreties
	// =========================================================================
	$spacing-values: (1, 4, 8, 12, 16, 20, 24, 32, 48, 64, 80, 96, 112, 128, 144, 160);

	@each $value in $spacing-values {
		--space-#{$value}: #{calc($value / 16)}rem;
	}

	// =========================================================================
	// Extra propreties
	// =========================================================================
	$border-radius-values: (3, 5, 10);

	@each $value in $border-radius-values {
		--border-radius-#{$value}: #{$value}px;
	}

	--border-radius-round: 100%;
}
