:root {
	// =========================================================================
	// Typography propreties
	// =========================================================================
	--font-primary: "Open Sans", sans-serif;
	--font-secondary: "PT Sans", sans-serif;

	$font-size-values: (12, 16, 20, 24, 32, 48, 72);

	@each $size in $font-size-values {
		--fs-#{$size}: #{calc($size / 16)}rem;
	}

	$font-weight-values: (100, 200, 300, 400, 500, 600, 700, 800, 900);

	@each $weight in $font-weight-values {
		--fw-#{$weight}: #{$weight};
	}

	$line-height-values: (
		"none": 1,
		"tight": 1.2,
		"narrow": 1.4,
		"spacious": 1.6,
		"wide": 1.8,
		"double": 2
	);

	@each $key, $value in $line-height-values {
		--lh-#{$key}: #{$value};
	}

	$letter-spacing-values: (1, 2, 3, 4, 5);

	@each $value in $letter-spacing-values {
		--ls-#{$value}: #{$value};
	}
}

// =============================================================================
// Heading typos
// =============================================================================
h1,
.typo-h1 {
	font-size: var(--fs-72);
	font-family: var(--font-primary);
	font-weight: 700;
	line-height: var(--lh-none);
}

h2,
.typo-h2 {
	font-size: var(--fs-48);
	font-family: var(--font-primary);
	font-weight: 700;
	line-height: var(--lh-none);
}

h3,
.typo-h3 {
	font-size: var(--fs-32);
	font-family: var(--font-primary);
	font-weight: 600;
	line-height: var(--lh-none);
}

h4,
.typo-h4 {
	font-size: var(--fs-24);
	font-family: var(--font-primary);
	font-weight: 600;
	line-height: var(--lh-spacious);
}

h5,
.typo-h5 {
	font-size: var(--fs-20);
	font-family: var(--font-primary);
	font-weight: 600;
	line-height: var(--lh-none);
}

h6,
.typo-h6 {
	font-size: var(--fs-16);
	font-family: var(--font-primary);
	font-weight: 600;
	line-height: var(--lh-none);
}

// =============================================================================
// Text typos
// =============================================================================
p,
.typo-p {
	font-family: var(--font-secondary);
	font-size: var(--fs-16);
	font-weight: var(--fw-400);
	line-height: var(--lh-spacious);

	&--large {
		font-size: var(--fs-24);
	}
}

strong,
.typo-strong {
	font-family: var(--font-secondary);
	font-size: var(--fs-16);
	font-weight: var(--fw-600);
	line-height: var(--lh-spacious);
}

i,
.typo-italic {
	font-family: var(--font-secondary);
	font-size: var(--fs-16);
	font-weight: var(--fw-400);
	font-style: italic;
	line-height: var(--lh-spacious);
}

.typo-label {
	font-size: var(--fs-20);
	font-weight: var(--fw-500);
	text-transform: uppercase;
}
