:root {
	// =========================================================================
	// Typography propreties
	// =========================================================================
	--font-primary: "Rubik", sans-serif;

	$font-size-values: (12, 14, 16, 18, 20, 24, 32, 48, 72);

	@each $size in $font-size-values {
		--fs-#{$size}: #{calc($size / 16)}rem;
	}

	$font-weight-values: (400, 500);

	@each $weight in $font-weight-values {
		--fw-#{$weight}: #{$weight};
	}

	$line-height-values: (
		"none": 1,
		"tight": 1.2,
		"narrow": 1.4,
		"spacious": 1.6,
		"wide": 1.8,
		"double": 2
	);

	@each $key, $value in $line-height-values {
		--lh-#{$key}: #{$value};
	}

	$letter-spacing-values: (1, 2, 3, 4, 5);

	@each $value in $letter-spacing-values {
		--ls-#{$value}: #{calc($value / 16)}rem;
	}
}
