---
import BaseTitle from "@components/BaseTitle.astro";
import BaseText from "@components/BaseText.astro";
import BaseImage from "@components/BaseImage.astro";

interface Props {
    title?: string;
    text: string;
    image: ImageMetadata;
    position?: string;
    class?: string;
}

const { 
    title, 
    text, 
    image, 
    position = "default", 
    class: className 
} = Astro.props;
---

<article class:list={["c-split", className]}>
    <div class="c-split__left">
        {title && <BaseTitle Tag="h4" text={title}/>}
        <BaseText text={text}/>
        <slot name="cta"/>
    </div>
    <div class="c-split__right">
        <BaseImage
            src={image}
            class="c-image--cover"
            alt="split image"
            sizes={`(max-width: 768px) 100vw, 33vw`}
        />
    </div>
</article>

<style scoped lang="scss">
    .c-split {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: var(--space-32);
        padding: var(--space-16);
        border: 1px solid var(--clr-black);
        max-width: 50rem;

        &__left {
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: var(--space-16);
        }

        &__right {
            display: flex;
            align-items: center;
        }
    }
</style>