---
interface Props {
	number: string
	label?: string
	class?: string
}

const { number, label, class: className } = Astro.props
---

<div class:list={["c-number", className]}>
	<p class="c-number__number typo-h2">{number}</p>
	{label && <p class="c-number__label typo-label">{label}</p>}
</div>

<style scoped lang="scss">
	.c-number {
		--number-color: var(--scheme-contrast);
		--label-color: var(--scheme-contrast);

		color: var(--number-color);

		display: flex;
		gap: var(--space-8);

		&__label {
			color: var(--label-color);
		}
	}
</style>
