---
import Arrow from "@assets/icons/Arrow.astro";
import ArrowRounded from "@assets/icons/ArrowRounded.astro";
import Chevron from "@assets/icons/Chevron.astro";
import ChevronRounded from "@assets/icons/ChevronRounded.astro";

interface Props {
    name: string;
    class?: string;
    rotation?: number;
    size?: number;
}

const { name, class: className, rotation, size = 16 } = Astro.props;

const iconMap = {
    arrow: Arrow,
    "arrow-rounded": ArrowRounded,
    chevron: Chevron,
    "chevron-rounded": ChevronRounded,
};

const IconComponent = iconMap[name];
---

<div class:list={["c-icon", className]}>
    <IconComponent />
</div>

<style scoped lang="scss" define:vars={{ iconSize: `${size}px`, rotation: `${rotation}deg` }}>
    .c-icon {
        display: flex;
        justify-self: center;
        align-items: center;
        width: var(--iconSize);
        height: var(--iconSize);
        transform: rotate(var(--rotation));
    }
</style>