---
import { HTMLAttributes } from 'astro/types';

interface Props extends HTMLAttributes<"button">  {
    class?: string;
}

const { class: className, ...props } = Astro.props;
---

<button class:list={["c-button", className]} {...props}>
    <slot />
</button>

<style scoped lang="scss">
    .c-button {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: var(--space-12);

        background-color: var(--clr-black);
        outline: none;
        border: 1px solid transparent;
        color: var(--clr-white);
        padding-inline: var(--space-16);
        height: 2.5rem;
        transition: all ease 0.2s;

        &--secondary {
            background-color: transparent;
            border: 1px solid var(--clr-black);
            color: var(--clr-black);
        }
        
        &--tertiary {
            background-color: transparent;
            color: var(--clr-black);
        }
        
        &:disabled {
            opacity: 0.3;

            &:hover {
                cursor: not-allowed;
            }
        }
        
        &:hover {
            cursor: pointer;
        }
    }
</style>
