---
import {
	Arrow,
	BgDots,
	Bookmark,
	Chrome,
	Close,
	Error,
	Facebook,
	Firefox,
	Hamburger,
	Opera,
	Twitter,
	HeroIllustration,
	IntelligentSearch,
	OneClickBookmark,
	ShareBookmarks
} from "@assets/icons/index"

interface Props {
	name: string
	class?: string
	rotation?: number
	size?: number
}

const { name, class: className, rotation = 0, size = 16 } = Astro.props

const iconMap = {
	"hero-illustration": HeroIllustration,
	"intelligent-search": IntelligentSearch,
	"one-click-bookmark": OneClickBookmark,
	"share-bookmarks": ShareBookmarks,
	"bg-dots": BgDots,
	arrow: Arrow,
	bookmark: Bookmark,
	chrome: Chrome,
	close: Close,
	error: Error,
	facebook: Facebook,
	firefox: Firefox,
	hamburger: Hamburger,
	opera: Opera,
	twitter: Twitter
}

const IconComponent = iconMap[name]
---

<div class:list={["c-icon", className]}>
	<IconComponent />
</div>

<style
	is:global
	lang="scss"
	define:vars={{ iconSize: `${size}px`, rotation: `${rotation}deg` }}
>
	.c-icon {
		--icon-color: var(--scheme-contrast);

		color: var(--icon-color);

		display: flex;
		justify-self: center;
		align-items: center;
		width: var(--iconSize);
		height: var(--iconSize);
		transform: rotate(var(--rotation));
		transition: all ease-out 0.15s;

		&--asset {
			width: 100%;
			height: auto;
		}
	}
</style>
