---
import { HTMLAttributes } from "astro/types"

interface Props extends HTMLAttributes<"a"> {
	href: string
	class?: string
}

const { href, class: className } = Astro.props
---

<a href={href} class:list={["c-link", className]}>
	<slot />
</a>

<style is:global lang="scss">
	.c-link {
		--link-color: var(--scheme-contrast);

		color: var(--link-color);
		text-decoration: none;

		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		gap: var(--space-12);

		font-family: var(--font-primary);
		font-size: var(--fs-14);
		text-transform: uppercase;
		letter-spacing: var(--ls-1);
		transition: color ease-out 0.15s;

		&:hover {
			--link-color: var(--scheme-accent-alt);
		}
	}
</style>
