---
import { BaseTitle, BaseSplit, BaseContainer } from "@components/index"

interface Props {
	title: string
	text: string
	image: ImageMetadata
	class?: string
}

const { class: className, title, text, image } = Astro.props
---

<BaseContainer class={className}>
	<div class="split">
		<BaseTitle text={title} Tag="h3" />

		<BaseSplit text={text} image={image} />
	</div>
</BaseContainer>

<style scoped lang="scss">
	.split {
		padding-block: var(--space-64);
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: var(--space-64);
	}
</style>
