---
import { BaseImage, BaseTitle, BaseText } from "@components/index";

import buttons from "@assets/images/playground/buttons.png";
import typography from "@assets/images/playground/typography.png";
import icons from "@assets/images/playground/icons.png";
import cards from "@assets/images/playground/cards.png";
import splits from "@assets/images/playground/splits.png";
import cta from "@assets/images/playground/cta.png";
import numbers from "@assets/images/playground/numbers.png";
import links from "@assets/images/playground/links.png";
import navigation from "@assets/images/playground/navigation.png";
import media from "@assets/images/playground/media.png";
import dropdownMenus from "@assets/images/playground/dropdown-menus.png"
import colors from "@assets/images/playground/colors.png";
import inputs from "@assets/images/playground/inputs.png";
import checkboxes from "@assets/images/playground/checkboxes.png";

const playgroundBlocks = [
    { graphic: colors, name: "Colors" },
    { graphic: buttons, name: "Buttons" }, 
    { graphic: links, name: "Links" }, 
    { graphic: navigation, name: "Navigation" }, 
    { graphic: icons, name: "Icons" }, 
    { graphic: typography, name: "Typography" }, 
    { graphic: numbers, name: "Numbers" }, 
    { graphic: media, name: "Media" }, 
    { graphic: cards, name: "Cards" }, 
    { graphic: splits, name: "Splits" }, 
    { graphic: cta, name: "Call To Actions" }, 
    { graphic: dropdownMenus, name: "Dropdown Menus" }, 
    { graphic: inputs, name: "Inputs" }, 
    { graphic: checkboxes, name: "Checkboxes" }
];
---

<script>
    const filterOptions = [...document.querySelectorAll(".playground-filters__option")];

    console.log(filterOptions);
    filterOptions.forEach(option => {
        option.addEventListener("click", (e) => {
            const optionName = option.querySelector(".c-text").innerHTML;
            console.log(optionName);
        })
    })

    const updateFilter = () => {

    }
</script>

<section class="playground-filters">
    <BaseTitle text="Available blocks" Tag="h4" />

    <div class="playground-filters__options">
        {playgroundBlocks.map(block => (
            <div class="playground-filters__option">
                <BaseImage
                    src={block.graphic}
                    class="c-picture--cover"
                    alt="This is the first example image"
                    sizes={`(max-width: 768px) 100vw, 33vw`}
                />

                <BaseText text={block.name} />
            </div>   
        ))}
    </div>
</section>

<style scoped lang="scss">
    .playground-filters {
        display: flex;
        flex-direction: column;
        gap: var(--space-16);
        margin: var(--space-24);

        &__options {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: var(--space-16);
        }
        
        &__option {
            transition: all ease 0.15s;
            display: flex;
            flex-direction: column;
            gap: var(--space-4);

            .c-picture__image {
                height: 100%;
            }

            &:hover {
                filter: brightness(95%);
                cursor: pointer;
            }
        }
    }
</style>