---
import BaseIcon from "@components/BaseIcon.astro";
---

<section class="playground-icons">
    <div class="playground-icons__group">
        <BaseIcon name="arrow" size={20} />
        <BaseIcon name="arrow" size={20} rotation={90}/>
        <BaseIcon name="arrow" size={20} rotation={180}/>
        <BaseIcon name="arrow" size={20} rotation={270}/>
    </div>

    <div class="playground-icons__group">
        <BaseIcon name="chevron" size={20} />
        <BaseIcon name="chevron" size={20} rotation={90}/>
        <BaseIcon name="chevron" size={20} rotation={180}/>
        <BaseIcon name="chevron" size={20} rotation={270}/> 
    </div>
</section>

<style scoped lang="scss">
    .playground-icons {
        display: flex;
        flex-wrap: wrap;
        gap: var(--space-48);

        margin: var(--space-24);
        padding: var(--space-24);
        border: 1px solid var(--clr-grey-200);
        
        &__group {
            display: flex;
            gap: var(--space-16);
        }
    }
</style>